@using Microsoft.AspNetCore.Mvc.Localization;
@using Forsthuber.Data.Data;
@using Microsoft.AspNetCore.Identity;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Twikker";
}

<div>
    <section>
        <form method="post" action="/register">
            <input type="submit" id="registerButton" name="registerButton" value="@Localizer["Register"]" />
        </form>
    </section>
</div>

<form method="post" action="/login">
    <input type="submit" id="loginButton" name="loginButton" value="@Localizer["Login"]" />
</form>
