@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Profile";
}

<html>
<head>

</head>
<body>
    <form method="post" action="/logout">
        <button type="submit" name="LogoutButton" id="LogoutButton">@Localizer["Logout"]</button>
    </form>
</body>
</html>

